@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
    overflow: hidden;
}

.section__one {
    background-color: #071a52;
}

.section__two {
    background-color: #17b978;
}

.space {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.star__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.star__wrapper {
    /* position: absolute !important; */
}

.star {
    position: absolute;
    background: url('./star.svg') center center no-repeat;
    background-size: contain;
    width: 1.5vw;
    height: 1.5vw;
    animation: 3s infinite alternate lightning;
}

@keyframes lightning {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .25;
    }
}

.space__text {
    display: flex !important;
    font-size: 9vw;
    font-family: 'Comfortaa', cursive;
    flex-direction: row;
    position: relative !important;
    justify-content: center;
}

.text_margin{
    margin: 2vw;
}

.text_small {
    font-size: 3vw
}

.text_normal {
    color: #fff8cd;
}

.text_dark {
    color: #f05454;
}

.text_light {
    color: #a7ff83;
}

.scroll-down__container {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 20%;
    left: unset !important;
    top: unset !important;
    z-index: 10;
}

.scroll-down__chevron {
    z-index: 10;
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.scroll-down__chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.scroll-down__chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.scroll-down__chevron:before, .scroll-down__chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.scroll-down__chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.scroll-down__chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.scroll-down__text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}